.texto-buscar {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.btn-buscar {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: url(../imgs/seach-icon.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.buscar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 5px;
    float: unset;
    display: flex;
    justify-content: center;
    text-align: center;
}

#sct-buscar {
    grid-area: sct-buscar;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0% 20% 20px 20%;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0px 20px 20px
}

#sct-sidebar {
    grid-area: sidebar;
    background-color: rgba(4, 8, 8, 0.199);
    border: 3px solid rgb(0, 0, 0);
    padding: 25px 15px;
    margin: 15px 15px;
}

#titulo {
    grid-area: titulo;
}

footer {
    grid-area: footer !important;
    background-color: rgba(0, 0, 0);
    padding: 30px;
    color: #eb8f38;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template: "titulo     titulo" 40px "sct-buscar sct-buscar" 80px "sidebar    slideshow" auto "sidebar    lista-tandas" auto "footer     footer" auto / 200px auto;
}

#sct-slideshow {
    grid-area: slideshow;
    height: 50%;
}

#sct-lista-tandas {
    grid-area: lista-tandas;
    height: 50%;
}

.img-slide {
    display: inline-block;
    height: 400px;
    width: 250px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(0, 0, 0, 0.2);
    margin: 20px 10px 20px 10px;
    border: 5px double black;
}

table {
    width: 90%;
    margin: 20px 10px 20px 10px;
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    padding: 10px;
    background-color: #00000040;
    text-align: left;
    font-weight: bold;
    color: #eb8f38;
}

td {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    color: #fad80f;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 10%;
}

th:nth-child(3) {
    width: 5%;
}

th:nth-child(4) {
    width: 5%;
}

th:nth-child(5) {
    width: 7%;
}

td:last-child {
    text-align: right;
}