.listar {
    border: 1px solid black;
    height: 150px;
    width: 80%;
    margin: auto;
    background-color: rgba(223, 223, 223, 0.2);
    padding: 10px 100px 10px 100px;
}

.editar {
    height: 25px;
    width: 70px;
    background-color: yellow;
    text-align: center;
    color: black;
}

/*  ESTILOS PARA LA BARRA DE BUSQUEDA*/
.buscar {
    height: 25px;
    height: 30px;
    background-color: rgba(223, 223, 223, 0.1);
    padding: 10px 100px 10px 100px;
}

.texto-buscar {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.btn-buscar {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: url(../imgs/seach-icon.png) no-repeat;
    background-size: contain;
    /* Set the bg image here. with "no-repeat" */
}

.buscar {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    border: 5px;
    float: unset;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 30px; */
    /* background-color: blue; */
}

#sct-buscar {
    height: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0% 25% 0% 32%;
}


/*  ESTILOS PARA LA BARRA DE BUSQUEDA*/


/*ESTILOS PARA BOTON DE EDITAR*/

/* button {
    background-color: #fad80f;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 12pt;
    cursor: pointer;
}

button:hover {
    background-color: #eb8f38;
}

button:active {
    background-color: #fad80f !important;
} */


/*ESTILOS PARA BOTON DE EDITAR*/


/*ESTILOS PARA IMAGENES */

.listar img {
    /* height: 60px; */
    width: 20%;
    float: right;
}

.listar p {
    display: block;
}

.listar img {
    display: block;
}

.listar button{
    margin-top: 15px;
    /* margin-bottom: 10px; */
}

h1 {
    font-size: 22px;
    font-weight: 600;
}

.listar span {
    font-weight: 400;
    font-size: 18px;
}

.listar button {
    display: block;
    float: left;
}

.registrar {
    height: 120px;
    width: 80%;
    margin: auto;
    padding: 10px 100px 10px 100px;
}

.registrar p {
    display: block;
}
