.container {
    width: 100%;
    height: 500px;
}

button {
    background-color: #fad80f;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 12pt;
    cursor: pointer;
}

div button {
    margin-left: 45%;
    margin-top: 1%;
}

h1 {
    font-size: 25pt;
    font-weight: bold;
    margin: 50px 0 50px 0;
}

fieldset {
    border: solid 1px rgb(220, 220, 220);
    padding: 20px;
}

form {
    margin-bottom: 100px;
}

.radio-label {
    display: inline;
}

.texto_centrado {
    text-align: center;
}

#btn-regresar {
    margin: auto;
}