section {
    padding: 25px;
    background: #ffffff10;
    font-size: 25px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
}

section.type-a {
    background-color: #00000000;
    width: 100%;
    background-size: auto;
    margin: auto;
}

div {
    margin: 20px;
}

#button1,
#button2 {
    display: inline-block;
    text-align: justify;
}

table {
    width: 600px;
}

td {
    text-align: center;
}

table,
th,
td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

td {
    padding: 5px;
}

fieldset {
    margin: 0;
}

#secc-imagen img {
    width: 30%;
}

#secc-imagen {
    /* display: right; */
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    gap: 10px 0;
    align-items: center;
    /* text-align: center; */
}

#secc-imagen button {
    /* display: block; */
    width: 30%;
}

#div-inputs {
    /* display: inline-block; */
    float: left;
    /* background-color: blue; */
    width: 50%;
}

section {
    width: 80%;
}

#field-botones {
    clear: both;
}

input {
    border-radius: 5px;
}

#div-inputs {
    width: 50%;
}

.field {
    width: 46%;
    padding: 5px;
    display: inline-block;
}

label {
    width: 50%;
    display: inline-block;
}

.info-div label {
    width: 30%;
    display: inline-block
}