html{
    min-height: 100%;
}
main{
    padding: 1vw 5vw 2vw 5vw;
    min-height: 50vh;
}
#barra-buscar{
    background-color: #fff;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
}
#barra-buscar input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 12pt;
}
#barra-buscar i{
    margin: auto;
    color: black;
}
table{
    /* background-color: darkcyan; */
    width: 75%;
    /* margin-left: 10%; */
    margin: 3vw auto;
}
th{
    background-color: black;
    padding: 15px;
    color: #eb8f38;
}
tbody tr{
    background-color: rgb(0,0,0,0.6);

}
tbody tr:hover{
    background-color: #50035f;
    outline: solid 2px #eb8f38;
    cursor: pointer;
}
td{
    /* border: solid 2px chartreuse; */
    text-align: center;
    padding: 15px 0 15px 0;
}