html{
    height: 100%;
}
body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}
#txt-contrasenna{
    width: 70%;
}
#barra-input{
    background-color: #fff;
    width: 82%;
    margin: auto;
    display: flex;
    height: 30px;
    border-radius: 7px;
    overflow: hidden;
}
#barra-input input{
    width: 85%;
    border: none;
    outline: none;
}
#barra-input i{
    color: black;
    margin: auto;
}
#icono-ojo:hover{
    cursor: pointer;
}

.sct-contenedor-principal {
    justify-content: center;
    width: 100%;
}
h1{
    font-size: 16pt;
    font-weight: 600;
}

input{
    font-size: 12pt;
}

#login_Box {
    background-color: rgb(0,0,0,0.4);
    width: 275px;
    padding-top: 20px;
    text-align: center;
    justify-self: center;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.login-box-div{
    margin: 20px 0 20px 0;
}
.correo input{
    width: 80%;
    height: 26px;
    border-radius: 8px;
}

#login_Box div label {
    font-size: 14pt;
}

#login_Box div p {
    font-size: small;
    margin: 10px;
}

.ResetPSWRD {
    padding-top: 6px;
    padding-bottom: 6px;
}

.ResetPSWRD a {
    padding-top: 6px;
    padding-bottom: 6px;
}

#txt_email {
    padding-top: 6px;
    font-size: small;
}

#txt_email #email {
    padding-top: 6px;
    margin-bottom: 19px;
    margin-top: 10px;
}

#login_Box a {
    color: #fad80f;
}