main{
    padding: 2vw 5vw 2vw 5vw;
    min-height: 55vh;
}
#info-usuario{
    width: 60%;
    float: left;
}
h1{
    font-family: "Scheherazade New";
    font-weight: bold;
    font-size: 30pt;
}
label{
    font-weight: bold;
    margin-right: 5px;
}
.label-p{
    display: inline-block;
}
.info-div{
    margin: 15px 0 15px 0;
    min-height: 20px;
}
.info-div label{
    width: 30%;
    display: inline-block;
}
.info-div input{
    height: 20px;
    margin: -5px;
    font-size: 12pt;
    font-family: "Montserrat"
}
#secc-imagen{
    display: inline-block;
    width: 40%;
    text-align: center;
}
#secc-imagen img{
    width: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
}
#secc-imagen button{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#secc-botones{
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
}
#secc-botones button{
    display: block;
    margin-top: 10px;
}
input{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(220,220,200);
}
input:focus{
    border: solid 2px #eb8f38;
    outline: none;
    background-color: black;
}
.esconder{
    display: none !important;
}
#boton-guardar{
    background-color: rgba(0, 0, 0, 0.7);
    color: #eb8f38;
}

#boton-guardar:hover{
    background-color: rgba(0, 0, 0);
    outline: solid 1px #eb8f38;
}