.estilo_form {
    /* height: 650px; */
    width: 80%;
    margin: auto;
    background-color: rgba(223, 223, 223, 0.1);
    padding: 25px 50px 25px 50px;
    border-radius: 5px;
}

form {
    text-align: justify;
    font-size: 18px;
    padding: 25px;
    margin-bottom: 40px;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}

.labels {
    width: 40%;
    display: inline-block;
    margin-bottom: 20px;
}

.width {
    width: 49%;
    /* background-color: rgb(218, 210, 157); */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom:10px;
    display: inline-block;
}

textarea{
    resize: none;
    height: 75px;
}

div button {
    margin-left: 45%;
    margin-top: 1%;
    padding: 14px 16px 14px 16px;
}

.error-input {
    border: 2px solid red;
}

label span {
    color: rgb(175, 175, 175);
    font-size: 13px;
}

#imagen-pelicula{
    width: 20%;
}

#btn-regresar {
    margin-left: 0;
}