        main {
            overflow: auto;
        }
        
        form {
            overflow: auto;
            padding: 25px;
            background: hsla(266, 93%, 71%, 0.178);
            font-size: 20px;
            width: 85%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        
        div {
            margin: 20px;
        }
        
        #secc-imagen img {
            width: 40%;
            border-radius: 5px;
        }
        
        #secc-imagen {
            /* display: right; */
            /* display: inline-block; */
            display: flex;
            flex-direction: column;
            /* background-color: aquamarine; */
            gap: 10px 0;
            align-items: center;
            /* text-align: center; */
            height: 460px;
        }
        
        #secc-imagen button {
            /* display: block; */
            width: 30%;
        }
        
        #div-inputs {
            width: 70%;
        }
        
        .field {
            width: 46%;
            padding: 5px;
            display: inline-block;
        }
        
        .field:focus {
            border-color: #eb8f38;
        }
        
        label {
            width: 50%;
            display: inline-block;
        }
        
        h1 {
            font-size: 50px;
            font-weight: bolder;
            text-align: center;
            margin: 20px;
        }
        
        .radio {
            width: 22%;
        }
        
        #boton-guardar {
            margin-top: 2%;
            margin-left: 40%;
            padding: 18px 20px 18px 20px;
        }
        
        #sect-abajo label {
            width: 35.5%;
        }
        
        #sect-abajo input {
            width: 32.5%;
            padding: 5px;
        }
        
        .error-input {
            border: 2px solid red;
        }